header{
  background-color: #aFd8d6;
  text-align: center;
  padding: 5pt;
  position: sticky;


}

body{
  background-color: #e0ffff;
  text-align: center;
}

p{
  font-size: 15pt;
  text-align: justify;
padding-left: 22pt;
padding-right: 22pt;
}
nav{
  position: sticky;
  background-color: inherit;
  text-align: right;
}

nav a {
  text-decoration: none;

}
ul li {  font-size: 14pt;
  text-align: justify;
  font-family: Times New Roman;
  padding-left: 22pt;
  padding-right: 22pt;

  }
.Prova   {background-image: "immagini/AI.png"}
