header{
  background-color: #aFd8d6;
  text-align: center;
  padding: 5pt;
  position: sticky;


}

body{
  background-color: #e0ffff;
  text-align: center;
}

p{
  font-size: 15pt;
  text-align: justify;
  padding:100pt;
  padding-top:20pt;
}
nav{
  position: sticky;
  background-color: inherit;
}
